<!DOCTYPE html>
<html>
    <head>
        <title>Nichijou.kr | CYOT</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.7/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.7/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.7/dist/js/uikit-icons.min.js"></script>

    </head>
    <body>
        <form action = "http://localhost:5000/result" method = "POST">
            <p>Title <input type = "text" name = "Title" /></p>
            <p>Name <input type = "text" name = "Name" /></p>
            <p>Email<input type = "text" name = "Email" /></p>
            <p>Github ID<input type ="text" name = "GithubID" /></p>
            <p><input type = "submit" value = "submit" /></p>

            {{result.items()}}
        </form> 
    </body>
</html>