<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- pickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css"/> <!-- 'nano' theme -->
    <!-- owlCarousel2 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <!-- favicon -->
    <link rel="shortcut icon" href="./static/favicon.ico">
    <!-- Title -->
    <title>Nichijou.kr | CYOT</title>

  </head>
  <body>
    <!-- As a heading -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="./static/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            CYOT
        </a>
        <form class="form-inline">
            <a style="color:#5bc0de; font-weight: bold;" href="http://www.nichijou.kr">XENIA</a>
        </form>
    </nav>
    <div class="container">
        <!-- Content here -->
        <div class="row" style="margin-top:15px;">
            <div class="col">
                <h1 style="text-align: center;">Creating Your Own Template <sup style="color:#5bc0de">XENIA</sub></h1>
            </div>
        </div>
        
        <div class="row" style="margin-top:15px;">
            <div class="col-sm-6" >
                <img class="shadow-sm p-3 mb-5 bg-white rounded" width="100%" src="./static/sample.png" alt="">
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        Please enter your information
                    </div>
                    <div class="card-body">
                        <form class="was-validated" action="http://localhost:5000/result" method="POST">
                            <div class="form-group row">
                                <label for="GithubID" class="col-sm-2 col-form-label">Github</label>
                                <div class="col-sm-10">
                                    <input required type="text" class="GithubID form-control is-invalid" id="GithubID" name="GithubID" placeholder="Github ID">
                                </div>
                            </div>
        
                            <div class="form-group row">
                                <label for="Title" class="col-sm-2 col-form-label">Title</label>
                                <div class="col-sm-10">
                                    <input required type="text" class="form-control is-invalid" id="Title" name="Title" placeholder="Title">
                                </div>
                            </div>
        
                            <div class="form-group row">
                                <label for="Name" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input required type="text" class="form-control is-invalid" id="Name" name="Name" placeholder="Name">
                                </div>
                            </div>
        
                            <div class="form-group row">
                                <label for="TEXT" class="col-sm-2 col-form-label">TEXT</label>
                                <div class="col-sm-10">
                                    <textarea required class="form-control is-invalid" id="TEXT" rows="1"></textarea>
                                </div>
                            </div>
        
                            <div class="form-group row">
                                <label for="location" class="col-sm-2 col-form-label">location</label>
                                <div class="col-sm-10">
                                    <input required type="text" class="form-control is-invalid" id="location" name="location" placeholder="location">
                                </div>
                            </div>
        
                            <div class="form-group row">
                                <label for="TEXT" class="col-sm-2 col-form-label">Image</label>
                                <div class="col-sm-10">
                                    <div class="custom-file">
                                        <input required type="file" class="custom-file-input" id="validatedCustomFile">
                                        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                        <div class="invalid-feedback">Example invalid custom file feedback</div>
                                    </div>
                                </div>
                            </div>
        
                            <div style="float:right" class="mx-auto" class="form-group row">
                                <button type="button" onclick="remove();" class="btn btn-danger">Reset</button >
                                <button type="submit" class="btn btn-success">Save</button >
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <div class="row" style="margin-top:35px;">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        Please enter options
                    </div>
                    <div class="card-body">
                        <form action="http://localhost:5000/option" method="POST">
                            <div class="form-group row">
                                <label for="email" class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
                                </div>
                            </div>
            
                            <div class="form-group row">
                                <label for="facebook" class="col-sm-3 col-form-label">Facebook</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="facebook" name="facebook" placeholder="Facebook url">
                                </div>
                            </div>
    
                            <div class="form-group row">
                                <label for="Icolor" class="col-sm-3 col-form-label">Color</label>
                                <div class="col-sm-9">
                                    <div class="pickr"></div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="faviconF" class="col-sm-3 col-form-label">Favicon</label>
                                <div class="col-sm-9">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="faviconF">
                                        <label class="custom-file-label" for="faviconF">Choose favicon file...</label>
                                    </div>
                                </div>
                            </div>
        

                            <div style="float:right" class="mx-auto" class="form-group row">
                                <button type="button" onclick="remove2();" class="btn btn-danger">Reset</button >
                                <button type="submit" class="btn btn-success">Save</button >
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- Set up your HTML -->
                <div class="owl-carousel">
                    <div><img src="./static/carousel0.PNG" alt=""></div>
                    <div><img src="./static/carousel1.PNG" alt=""></div>
                    <div><img src="./static/carousel2.PNG" alt=""></div>
                    <div><img src="./static/carousel3.PNG" alt=""></div>
                </div>
            </div>

        </div>

        <footer style="width:100%; height: 50px; margin-top:35px; text-align: center;" class="row">
            <div></div>
        </footer>
    </div>

        <!-- Optional JavaScript -->
        <script type="application/javascript">
            function remove1(){
                document.getElementById('GithubID').value='';
                document.getElementById('Title').value='';
                document.getElementById('Name').value='';
                document.getElementById('TEXT').value='';
                document.getElementById('location').value='';
            }
            function remove2(){
                document.getElementById('email').value='';
                document.getElementById('facebook').value='';
            }
        </script>

        <script src="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/pickr.es5.min.js"></script>
        <script type="application/javascript">
            const pickr = Pickr.create({
                el: '.pickr',
                theme: 'nano', 
                default: '#5bc0de',
                swatches: [
                'rgba(244, 67, 54, 1)',
                'rgba(233, 30, 99, 0.95)',
                'rgba(156, 39, 176, 0.9)',
                'rgba(103, 58, 183, 0.85)',
                'rgba(63, 81, 181, 0.8)',
                'rgba(33, 150, 243, 0.75)',
                'rgba(3, 169, 244, 0.7)',
                'rgba(0, 188, 212, 0.7)',
                'rgba(0, 150, 136, 0.75)',
                'rgba(76, 175, 80, 0.8)',
                'rgba(139, 195, 74, 0.85)',
                'rgba(205, 220, 57, 0.9)',
                'rgba(255, 235, 59, 0.95)',
                'rgba(255, 193, 7, 1)'
                ],

                components: {
                    // Main components
                    preview: true,
                    opacity: true,
                    hue: true,
                    // Input / output Options
                    interaction: {
                    input: true,
                    save: true
                    }
                }
            });
        </script>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script type="application/javascript">
            $('.custom-file-input').on('change', function() {
                let fileName = $(this).val().split('\\').pop();
                $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
            });
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script type="application/javascript">
            $('.owl-carousel').owlCarousel({
                loop:true,
                margin:10,
                nav:false,
                responsive:{
                    0:{
                        items:1
                    }
                },
                autoplay:true,
                autoplayTimeout:1500,
                autoplayHoverPause:true,
                animateOut: 'fadeOut'
            })
        </script>
    </body>
</html>